 body{
    background-color:black;
    text-align:center;
    padding:0px;
    margin:0px;

 }
.bb{
    color:rgb(240, 245, 240);
    background-color:rgb(96, 239, 96);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique;
    font-weight:  bolder;
    font-size:x-large;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:6px;
    padding-left:6px;
    cursor:pointer;
    border: rgb(96, 239, 96) solid 12px;
    border-radius:12px;
    margin-top:10px;
  


 }
 .rm{
 background-color:red;
 border:solid 3px;
 border-radius: 40px;
 padding-top:12px;
   padding-right:20px;
   padding-left:20px;
   padding-bottom:12px;

 }
 .br{
   background-color:rgb(96, 239, 96);
   border:solid 3px black;
   border-radius:40px;
   padding-top:12px;
   padding-right:20px;
   padding-left:20px;
   padding-bottom:12px;
   cursor:pointer;

 }
 button{
   background-color:rgb(96, 239, 96);
   border:solid 10px;
   border-radius:15px;
   padding-top:30px;
   padding-bottom:30px;
   padding-right:30px;
   padding: left 30px;
   font-size:xx-large;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   cursor:pointer;
   margin-right:8px;
   
 }